<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Portfolio</title>
</head>
<body>
<h2>Select Portfolio</h2>
<form method="POST">
    <button type="submit" name="portfolio" value="TES">TES</button>
    <button type="submit" name="portfolio" value="RAMPP">RAMPP</button>
    <button type="submit" name="portfolio" value="CBDDT">CBDDT</button>
    <button type="submit" name="portfolio" value="BCS-T">BCS-T</button>
    <button type="submit" name="portfolio" value="DCM">DCM</button>
    <button type="submit" name="portfolio" value="P&RS">P&RS</button>
    <button type="submit" name="portfolio" value="SPM">SPM</button>
    <button type="submit" name="portfolio" value="AES">AES</button>
</form>
</body>
</html>