<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Project</title>
</head>
<body>
<h2>Select Project</h2>
<form method="POST">
    <button type="submit" name="project" value="BMO">BMO</button>
    <button type="submit" name="project" value="RBCCM">RBCCM</button>
    <button type="submit" name="project" value="RBCWM">RBCWM</button>
    <button type="submit" name="project" value="CS">CS</button>
    <button type="submit" name="project" value="MKTX">MKTX</button>
</form>
</body>
</html>